@page "/account"
@using SeaHome.Services
@inject SingletonService singleton
@inject ApartamentService apartmentService
@inject GridFSService service

<h3>Личный кабинет</h3>

@if(string.IsNullOrEmpty(singleton.currentUser.Login))
{
    <br />
    <div>Войдите в Ваш аккаунт</div><br />
    <NavLink class="btn btn-primary" href="autorization">Войти</NavLink>
}
else
{
<div>имя: @singleton.currentUser.Name</div>
<div>логин/почта: @singleton.currentUser.Login</div>

<div>
	<label>телефон: 
    <input type="text" class="form-control" @bind="phoneNumber" placeholder="@singleton.currentUser.PhoneNumber" />
    </label>
    <button type="submit" class="btn btn-secondary" @onclick="(() => singleton.EditPhoneNumber(phoneNumber))">сохранить</button><br/>
</div><br />

<div>
    <a type="submit" class="btn btn-primary" href="announce">Добавить объявление</a><br/>
</div><br /><br />


<table>
    @if (apartmentService.GetApartaments(singleton.currentUser).Count == 0)
                {
                    <tbody>
                        <tr>У Вас ещё нет объявлений</tr>
                    </tbody>
                }
                else
                {
                    foreach (var item in apartmentService.GetApartaments(singleton.currentUser))
                    {
                        <tbody class="border-2">

                            <tr class="m-3 p-3">
                                <td class="col m-3 p-3"><textbox rows="5">@item.Text</textbox></td>
                                <td>стоимость: @item.Price</td>
                                <td>этаж: @item.Floor</td>
                                <td>количество этажей в здании: @item.HouseFloor</td>
                                <td><a class="btn btn-link" @onclick="(() => singleton.SetCurrentApartament(item))" href="yourAnnounce">Редактировать</a></td>
                            </tr>
                            <tr class="m-3 p-8 align-items-sm-start">
                                @if (apartmentService.GetImages(item).Count == 0)
                                {
                                    <td class="m-8 p-8">фотографии не добавлены</td>
                                }
                                else
                                {
                                    foreach(var item_1 in apartmentService.GetImages(item))
                                    {
                                        service.DownloadImageToWWWRoot(item_1.Name);
                                        <td class="m-8 p-8"><img src="/images/@service.file" width="150px"/></td>
                                    }
                                }
                            </tr>
                                           
                        </tbody>
                    }
                }
</table>
}

@*<div>@ShowAnnounces</div>*@

@code 
{
    private string phoneNumber;
    
}

