@page "/announce"
@using SeaHome.Services
@inject TransientService transientApartment
@inject SingletonService singleton

<h3>Новое объявление</h3>

<form>
     <div class="form-group">
        <label for="textareaAnnounce">Добавьте описание объекта</label>
        <textarea class="form-control" id="textareaAnnounce" rows="3" @bind="@text">@singleton.currentUser.Name</textarea>
     </div><br/>

     <div>
        <label for="selectFloor">этаж</label>
        <select class="custom-select custom-select-lg mb-3" id="selectFloor" @bind="@floor">
          
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
        </select><br/>
     
         <label for="selectHouseFloor">этажность здания</label>
         <select class="custom-select custom-select-lg mb-3" id="selectHouseFloor" @bind="@houseFloor">
          @*<option selected>этажность здания</option>*@
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
     </select>
     </div>

     <div class="form-group">
        <label for="inputPrice">стоимость аренды</label>
        <input type="number" @bind-value="@price" step="50" id="inputPrice" />
     </div><br/>
     
  

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
      <label class="form-check-label" for="invalidCheck3">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <br />

  <NavLink class="btn btn-primary" type="submit" @onclick="RegistrationApartment" href="yourAnnounce">Добавить объявление</NavLink>
</form>
<br /><br />

         

    @*<form>
    <div class="form-group">
        <label for="FormControlFile1">загрузить фото</label>
        <input type="file" class="form-control-file" id="FormControlFile1">
      </div>
    </form>*@

     @*<FileUpload></FileUpload>*@

@code {
    private string text;
    private int floor=1; 
    private int houseFloor=1;
    private double price = 1000;
    private User user;
    private Apartament apartament;

    

    public void RegistrationApartment()
    {
        if(!string.IsNullOrEmpty(singleton.currentUser.Login))
        {
            user = singleton.currentUser;
            apartament = new Apartament(user, text, floor, houseFloor, price);
            DBMethods.AddApartamentToDB(apartament);
            singleton.currentApartament = apartament;
            //transientApartment.currentApartament = apartament;
        }
        
    }

}
